@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model  DMS.Model.AutoNumbering_Model
@{
    ViewBag.Title = "AutoNumbering";
}
<!Doctype html>
<html>
<head>
    <title></title>
    <style>
              .error_show {
            color: red;
            margin-left: 10px;
        }
    .k-dropdown-wrap.k-state-default{
            background-clip: padding-box;
           
    display: block;
    height:90%;
    width:initial;
    padding: 0.4375rem 1.875rem 0.4375rem 0.875rem;
    -moz-padding-start: calc(0.875rem - 3px);
    font-size: 0.7075rem;
    font-weight: 400;
    line-height: 1.15;
    color: #697a8d;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.875rem center;
    background-size: 17px 12px;
    border: 1px solid #d9dee3;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}
        .k-item{
             background-color: #fff;
             background-position: right 0.875rem center;
             
             
        }
        .k-content{
            width:100%;
        }
        /*.k-button{
             background-color: transparent;
              color: blue;
              border: aliceblue;

        }*/
        .k-grid{
             color: #697a8d;
    background-color: #fff;
        }
        .k-grid-header th.k-header{
            text-overflow: ellipsis;
    text-align: center;
    text-transform: none;
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-weight: 500;
        }
        .k-pager-info {
    float: right;
    text-transform: none;
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 0 1.333em;
}
        .k-pager-sizes {
    display: inline-block;
    padding-top: 1px;
    text-transform: none;
    font-size: 0.90rem;
    letter-spacing: 1px;
    font-weight: 500;
}
         .k-footer{
             background-color: #fff;
        }
 .k-widget{
      background-color: #fff;
 }
        .k-header {
        background-color: #fff;
        }
        .k-grid td {
    white-space: nowrap;
    background-color: #eceef1;
    border-color: inherit;
    /* text-align: center; */
}
        
    .k-state-selected {
        color: #000;
        border-color: inherit;
    }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card-body" style="margin-top:-9px;">
                <div class="col-md-12">
                    <div class="box box-orange" style="height:650px">
                        <div class="box-header text-center with-border">
                        </div>
                        <div class="col-md-9">
                            <table>
                                <tr>
                                    <td>
                                        @*<button type="submit"  class="btn btn-danger pull-left"> <span class="fa fa-plus-circle"></span>Add New</button>*@
                                        <button type="submit" id="addbtn" onclick="return toolbar_click()" class="btn btn-sm btn-primary me-2">Add New</button>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <div id="AutoNumber" class="col-md-12" > </div>
                        <div class="row" id="divAttachment">
                            <div class="col-md-12 table-responsive" style="margin-top:10px">
                                @(Html.Kendo().Window()
                                .Name("kdropdownwindow")
                                .Events(ev => ev.Close("RefreshDatasource_Exemption"))
                                .Title("Auto Numbering") //set the title of the window
                                .Content(@<text> @Html.Partial("Autonumbering_PartialPage") </text>)
                                .Draggable()
                                .Resizable()
                                //.Width(1000)
                                // .Height(450)
                                .Modal(true)
                                .Visible(false))

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</body>
</html>

<script type="text/javascript">
    var showresult1flag = 'Y';
    $(document).ready(function () {
        var slno = 0;
  
        debugger;
        $("#navhead").text("Auto Numbering");
        getScreenAccess(48, "Auto numbering");
    })

    function getScreenAccess(screenID, screenName) {
        debugger;
        var result_;
        $.ajax({
            // type: "POST",
            contentType: "application/json; charset=utf-8",
            //   async: false,
            url: '@Url.Action("getScreenData", "UserGroupsMapping")',
            data: { 'screen_id': screenID, 'screen_name': screenName },
            success: function (data) {
                debugger;
              //  var grid = $("#kdropdownwindow").data("kendoGrid");

                var data1 = JSON.parse(data.Data1);
                if (data1[0].add_perm == "1" || data1[0].mod_perm == "1") {

                }
                    //else if (data1[0].inactivate_perm == "1") {
                    //    $("#btnupdate").attr('disabled', true);
                    //    // $("#applybtn").attr('disabled', true);
                    //}
                else if (data1[0].inactivate_perm == "1") {
                    showresult1flag = 'N';
                    // $("#applybtn").attr('disabled', true);
                }

                else if (data1[0].view_perm == "1") {
                    showresult1flag = 'N';
                    $("#addbtn").attr('disabled', true);
                    
                    // showresult = 'Y';
                }

                else if (data1[0].deny_perm == "1") {
                    showresult1flag = 'N';
                    $("#addbtn").attr('disabled', true);
                }
                else {
                    $("#applybtn").attr('disabled', true);
                }
                // Getsummary();
                //for (var i = 0; i < grid.columns.length; i++) {
                //    if (i != grid.columns.length) {
                //        grid.autoFitColumn(i);  //autofit each column.

                //    }
                //}
            },
            error: function (data) {


            }
        });
    }
</script>

<script type="text/javascript">
    var mode = "";
    var autonumberrowid = "";
    $(document).ready(function () {
        debugger;
        $("#navhead").text("AutoNumber");
        loadgriddata();
        var input = document.querySelector('input.number');
        input.addEventListener('keyup', function (event) {
            if (event.which != 8 && event.which != 0 && event.which < 48 || event.which > 57) {
                this.value = this.value.replace(/\D/g, "");
            }
        });
    })

    function loadgriddata() {
        try {

            //load grid data:
            debugger;
            $.ajax({
                url: '@Url.Action("GetAllAutonumbering", "AutoNumbering")',
                type: "post",
                data: {},
                success: function (result) {
                    debugger;
                    // generateGrid(result);

                    if (result != null && result != "" && result != "undefined") {
                        var columns = [];
                        var chkval = JSON.parse(result.Data1);
                        var arr = [];
                        $.each(chkval, function (i, e) {
                            debugger;
                            $.each(e, function (key, val) {
                                arr.push(val);
                            });

                        });

                        if (arr == "No Records Found!" || arr == "Error in Data!") {
                            $.alert({
                                title: 'DMS',
                                content: 'No Records found..!',
                                type: 'blue',
                            });
                            $('#btnbulmail').prop('disabled', true);
                            return false;
                        }

                        var data = JSON.parse(result.Data1);
                        var data2 = JSON.parse(result.Data2);
                        var i = 0;

                        var entryIndex = "entries[" + i + "]";
                        columns.push({
                            title: "Sl No",
                            template: "#= ++record #"

                        });


                        for (var key in data[0]) {
                            var val = data2[0][key];
                            columns.push({
                                field: entryIndex,
                                title: key,
                                type: val
                            });
                            i = i + 1;
                            entryIndex = "entries[" + i + "]";

                        }

                        if (showresult1flag == 'Y') {
                            columns.push({
                                field: entryIndex + 1,
                                title: 'Action',
                                template: '<img src="../Assets/images/editicons.png" name="Edit" id="Edit" value="Edit" onclick="editpopup()" style="height:15px;width:15px;"><img src="../Assets/images/del.png" name="Delete" id="Delete" value="Delete" onclick="myDeleteJs()" style="height:15px;width:15px;margin-left:10px">',
                                filterable: false,
                                sortable: true,
                                width: 60,
                                editable: true
                            });
                        }
                        else {

                            columns.push({
                                field: entryIndex + 1,
                                title: 'Action',
                                template: '<img src="../Assets/images/editicons.png" name="Edit" id="Edit" value="Edit"  style="height:15px;width:15px;"><img src="../Assets/images/del.png" name="Delete" id="Delete" value="Delete"  style="height:15px;width:15px;margin-left:10px">',
                                filterable: false,
                                sortable: true,
                                width: 60,
                                editable: true
                            });
                        }

                        
                        //columns.push({
                        //    field: entryIndex + 1,
                        //    title: 'Edit',
                        //    template: '<button type="button" onclick="editpopup()"><i class="fa fa-trash-o" aria-hidden="true"></i>Edit</button>',

                        //    filterable: false,
                        //    sortable: true,
                        //    editable: true
                        //});
                        //columns.push({
                        //    field: entryIndex + 1,
                        //    title: 'Delete',
                        //    template: '<button type="button" onclick="myDeleteJs()"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button>',
                        //    //template: '<span class="glyphicon glyphicon-download Download" name="Download" id="Download" value="Download" onclick="Download()"></span>',
                        //    filterable: false,
                        //    sortable: true,
                        //    editable: true
                        //});

                        var rows = [];
                        var data1 = JSON.parse(result.Data1);

                        $.each(data1, function (i, e) {
                            var entryArray = [];
                            $.each(e, function (key, val) {

                                entryArray.push(val);
                            });
                            rows.push(kendo.observable({
                                entries: entryArray
                            }));

                        });

                        var viewModel = kendo.observable({
                            gridRows: rows
                        });

                        var configuration = {
                            // dataBound: onDataBound,
                            editable: false,
                            // sortable: true,
                            scrollable: false,
                            filterable: true,
                            //   filterable: true,
                            pagable: false,
                            resizable: true,
                            //   persistSelection: true,
                            //  selectable: "false",
                            pageable: {
                                pageSize: 10,
                                buttonCount: 5,
                                //     pageSizes: [10, 20, 30, 40, 50]
                            },
                            columns: columns,
                            rows: viewModel,
                            dataBinding: function () {
                                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                            }
                        };


                        $("#example").remove();
                        $('#AutoNumber').append('<div id="example" class="table-responsive text-nowrap" id="chk1"><table id="grid" data-bind="source: gridRows" class="table table-sm" style="width:100%;height:auto;line-height:1em;font-size:12px;"></table></div>');
                        var timeEditGrid = $("#grid").kendoGrid(configuration).data("kendoGrid");

                        kendo.bind($("#grid"), viewModel);

                        var grid = $("#grid").data("kendoGrid");
                        grid.hideColumn(1);
                        // grid.hideColumn(5);
                        //  grid.hideColumn(6);
                        for (var i = 0; i < grid.columns.length; i++) {
                            if (i != grid.columns.length) {
                                grid.autoFitColumn(i);  //autofit each column.

                            }
                        }
                    } else {
                        $.alert({
                            title: 'DMS',
                            content: "Info" + "No data Found",
                            type: 'red',
                        });
                    }
                },
                error: function (result) {
                    // alert("Error" + result.Data1);
                    $.alert({
                        title: 'DMS',
                        content: "Error" + result.Data1,
                        type: 'red',
                    });
                }
            });

        } catch (er) {
            alert(er);
        }
    }

    function toolbar_click() {
        debugger;
        mode = "I";
        autonumberrowid = "0";
        var wdw = $("#kdropdownwindow").data("kendoWindow"); //get the Window widget's instance
        wdw.open();
        wdw.center();
        $("#prefix").val("");
        $("#seq").val("");
        $("#auyearY").prop('checked', false);
        $("#aumonthY").prop('checked', false);
        $("#audateY").prop('checked', false);

      //  $("#dgroupname").val('');
       // $("#shortname").val('');
    }

    function editpopup() {
        debugger;
        try {
            var grid = $("#grid").data("kendoGrid");
            var model = grid.dataItem($(event.target).closest("tr"));
            autonumberrowid = model.entries[0];
            var autoprefix = model.entries[1];
            var autoyear = model.entries[2];
            var automonth = model.entries[3];
            var autodate = model.entries[4];
            var autosequence = model.entries[5];
            mode = "U";
            var wdw = $("#kdropdownwindow").data("kendoWindow"); //get the Window widget's instance
            wdw.open();
            wdw.center();
            $("#prefix").val(autoprefix);
            $("#seq").val(autosequence);
            if (autoyear == "Y") {
                $("#auyearY").prop('checked', true)
            } else {
                $("#auyearY").prop('checked', false)
            }
            if (automonth == "Y") {
                $("#aumonthY").prop('checked', true)
            } else {
                $("#aumonthY").prop('checked', false)
            }
            if (autodate == "Y") {
                $("#audateY").prop('checked', true)
            } else {
                $("#audateY").prop('checked', false)
            }
           // $("#shortname").val(docgroupshort);
        } catch (er) {
            alert(er);
        }
    }

    function save() {

        debugger;
        var prefix = "";
        var year = "N";
        var month = "N";
        var date = "N";
        var sequence = "";

        prefix = $("#prefix").val();
        if ($("#auyearY").prop('checked') == true) {
            //do something
            year = "Y";
        }
        if ($("#aumonthY").prop('checked') == true) {
            //do something
            month = "Y";
        }
        if ($("#audateY").prop('checked') == true) {
            //do something
            date = "Y";
        }
        sequence = $("#seq").val();

        if (sequence == null || sequence == "" || sequence == "undefined") {
            $.dialog({
                title: 'DMS',
                content: 'Sequence Number Cannot be Blank',
                type: 'yellow',
            });
        } else {
            try {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    url: '@Url.Action("AutoNumber_Save", "AutoNumbering")?rowid=' + autonumberrowid + '&prefix=' + prefix + '&year=' + year + '&month=' + month + '&date=' + date + '&sequence=' + sequence + '&mode=' + mode,
                    data: "{}",
                    success: function (data) {
                        var out = data.resultcode;
                        if (out == "1") {
                            if (mode == "U") {
                                out = "AutoNumbering has been Edited successfully!"
                            } else {
                                out = "AutoNumbering has been Created successfully!"
                            }
                            debugger;
                            $.dialog({
                                title: 'DMS',
                                content: out,
                                type: 'green',
                            });
                            closeopup();
                        } else {
                            $.alert({
                                title: 'DMS',
                                content: "Error: " + data.resultstatus,
                                type: 'red',
                            });
                        }
                    }, error: function (result) {
                        // alert("Error" + result.Data1);
                        $.alert({
                            title: 'DMS',
                            content: "Error" + result,
                            type: 'red',
                        });
                        closeopup();
                    }
                });
            } catch (er) {
                alert(er);
            }
        }
    }

    function closeopup() {
        debugger;
        try {
            var wdw = $("#kdropdownwindow").data("kendoWindow"); //get the Window widget's instance
            wdw.close();
            loadgriddata();
        } catch (er) {

        }
    }

    function myDeleteJs() {
        debugger;
        try {
            mode = "D";
            var grid = $("#grid").data("kendoGrid");
            var model = grid.dataItem($(event.target).closest("tr"));
            autonumberrowid = model.entries[0];

            $.confirm({
                icon: 'fa fa-warning',
                title: 'DMS',
                autoClose: 'cancel|10000',
                //theme: 'dark',
                animationSpeed: 700,
                content: 'Are you sure do you want to delete this record!',
                type: 'orange',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            async: false,
                            url: '@Url.Action("AutoNumber_Save", "AutoNumbering")?rowid=' + autonumberrowid + '&mode=' + mode,
                            data: "{}",
                            success: function (data) {
                                debugger;
                                if (data == 'Success') {
                                    $.alert({
                                        icon: 'fa fa-success',
                                        title: 'DMS',
                                   //     theme: 'dark',
                                        content: 'Record deleted.!',
                                        type: 'green',
                                        animationSpeed: 700,
                                    });
                                }
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 2500);
                            },
                        });

                    },
                    cancel: function () {
                        $.alert({
                            icon: 'fa fa-success',
                            title: 'DMS',
                           // theme: 'dark',
                            content: 'Delete Canceled.!',
                            type: 'blue',
                            animationSpeed: 700,
                        });
                    },
                }
            });
        } catch (er) {

        }
    }
    function RefreshDatasource_Exemption() {
        debugger;
        //   $("#grid").data("kendoGrid").dataSource.read();
        //var wdw = $("#kdropdownwindow").data("kendoWindow"); //get the Window widget's instance
        //wdw.close();
        loadgriddata();
    }

</script>

