
<style>

</style>
<div style="width:25px"></div>
<div class="card-body" style="margin-top:-9px;">
    <div class="row">
        <div class="mb-2 col-md-6">
            @Html.Label("prefix", "Prefix", new
           {
               @class = "form-label"@*,style = "width:120px;font-weight: normal;"*@ })
            <input type="text" @*style="height:25px;width:225px;font-weight: normal;"*@ class="form-control" id="prefix" />
        </div>
        <div class="mb-2 col-md-6">
            @Html.Label("Year", new
           {
               @class = "form-label"@*,style = "width:auto;font-weight: normal;margin-left:15px"*@ })
            <input type="checkbox" class="form-check-input" id="auyearY" name="auyear" value="Y">
            @Html.Label("Month", new
           {
               @class = "form-label" @*,style = "width:auto;font-weight: normal;"*@ })
            <input type="checkbox" class="form-check-input" id="aumonthY" name="aumonth" value="Y">
            @Html.Label("Date", new
           {
               @class = "form-label" @*,style = "width:auto;font-weight: normal;margin-left:60px"*@ })
            <input type="checkbox" class="form-check-input" id="audateY" name="audate" value="Y">
        </div>
        <div class="mb-2 col-md-6">
            @Html.Label("Sequence Number", new
       {
           @class = "form-label" @*,style = "width:120px;font-weight: normal;"*@ })
            <input type="text" class="number form-control" @*style="height:25px;width:225px;font-weight: normal;"*@ id="seq" />
        </div>
        </div>
</div>
<div class="modal-footer">
    <input type="button" name="btncancel" value="Cancel" id="btncancel" onclick="return closeopup()" class="btn btn-sm btn-danger" @*style="width:60px;margin-left:15px"*@ />
    <input type="button" name="btnsubmit" value="Save" id="btnsave" onclick="return save()" class="btn btn-sm btn-primary" @*style="width:60px"*@ />
</div>