@model DMS.Model.Employee_Model
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .error_show {
        color: red;
        margin-left: 10px;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <style>
        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-content {
            font-weight: normal;
            font-size: 13px;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-orange">
                        <div class="box-header text-center with-border">
                            <h3 class="box-title"> Employee</h3>
                        </div>
                        <form class="form-horizontal" id="form" method="post" enctype="multipart/form-data" style="height:450px">
                            <div class="box-body">
                                <div class="row">
                                    <div style="left:200px;position:relative" class="col-md-8">

                                        <table>
                                            <tr>
                                                <td style="left:90px;width:350px; position:relative">
                                                    <label class="col-md-6 control-label"> </label>
                                                    <input type="file" class="form-control input-lg browse btn btn-primary input-lg " name="File" id="File">
                                                </td>
                                                
                                                <td style="width:10px"></td>
                                                <td style="left:100px;width:300px; position:relative">
                                                    <select id="drpvalue" style="width:180px;height:30px;font-weight:normal">
                                                        <option value="0">Select Type</option>
                                                        <option value="Department">Department</option>
                                                        <option value="Unit">Unit</option>
                                                        <option value="Region">Region</option>
                                                        <option value="City">City</option>
                                                        <option value="State">State</option>
                                                        <option value="Grade">Grade</option>
                                                        <option value="Title">Title</option>
                                                        <option value="EmployeeType">EmployeeType</option>
                                                        <option value="UserGroup">UserGroup</option>
                                                    </select>
                                                </td>
                                                <td style="left:20px;width:200px; position:relative">
                                                    <button type="button" id="btnexceldata" class="btn btn-danger" onclick="return downloaddatatoexcel()">Download</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <table align="center" style="right:220px; position:relative">
                                    <tr>
                                        <td width="230px"></td>
                                        <td>
                                            <input type="submit" name="btnsubmit" value="Upload" id="btnsubmit" class="btn btn-orange pull-right" onclick="return textval()" />

                                        </td>
                                        <td width="5px"></td>
                                        <td>
                                        <td>
                                            <button type="button" class="btn btn-danger pull-right" onclick="Cancel()">Cancel</button>
                                        </td>
                                        <td width="5px"></td>
                                        <td>
                                        <td>
                                            @Html.ActionLink("Download Template", "DownloadTemplate", "Employee")
                                        </td>
                                        
                                    </tr>
                                </table>
                                <div style="color:green">
                                    <table align="center" style="right:50px; top:20px; position:relative" id="msgtbl">
                                        <tr>
                                            <td>
                                                <span class="Error_show">@ViewBag.Message</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="height:10px">
                                </div>
                            </div>
                            <div id="example" style="top:10px;width:100%;height:100%;position:relative;margin: auto;" class="k-content">
                                <table id="grid" data-bind="source: gridRows"></table>
                            </div>                        
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>


<script>
    //kendo grid Bind
    $(document).ready(function () {
        @*if ('@ViewBag.Message' == "File uploaded successfully") {*@
        debugger;
        $.ajax({
            url: '@Url.Action("Getfile", "Employee")',
            data: {},
            type: 'Post',
            datatype: 'json',
            async: false,
            success: function (result) {
                debugger;
                var columns = [];
                var data = JSON.parse(result.Data1);
                var data1 = JSON.parse(result.Data2);
                var i = 0;
                var entryIndex = "entries[" + i + "]";
                for (var key in data[0]) {
                    var val = data1[0][key];

                    columns.push({
                        field: entryIndex,
                        title: key,
                        width: '150px',
                        type: val
                    });
                    i = i + 1;
                    entryIndex = "entries[" + i + "]";
                }

                var rows = [];
                var data1 = JSON.parse(result.Data1);

                $.each(data1, function (i, e) {
                    var entryArray = [];
                    $.each(e, function (key, val) {
                        entryArray.push(val);

                    });
                    rows.push(kendo.observable({
                        entries: entryArray
                    }));

                });

                var viewModel = kendo.observable({
                    gridRows: rows
                });

                var configuration = {

                    editable: false,
                    sortable: true,
                    scrollable: true,
                    filterable: true,
                    pagable: true,
                    resizable: true,
                    pageable: {
                        pageSize: 5,
                        buttonCount: 4
                    },
                    columns: columns,
                    rows: viewModel,

                };
                var timeEditGrid = $("#grid").kendoGrid(configuration).data("kendoGrid");
                kendo.bind($("#grid"), viewModel);
            },
            error: function (result) {
                $.alert({
                    title: 'DMS',
                    content: 'Error.!',
                    type: 'red',
                });
            }
        })
        //}
    });

    // validation for textbox and excelfile
    function textval() {
        debugger;
        var filesize = $('#File').val();
        if (filesize == "" || filesize == null) {
            $.alert({
                title: 'DMS',
                content: 'Select File.!',
                type: 'blue',
            });
            return false;
        }
        else {
            $("#form").submit();
        }
    }

    function Cancel() {
        //viewbag msg remove
        $("#msgtbl").remove();
        $('#LovName').val('');
        $('#File').val('');
        //kendo grid remove
        var grid = $("#grid").data('kendoGrid');
        grid.dataSource.read();
        $("#example").remove();
    }

    function downloaddatatoexcel() {
        debugger;
        var data = $("#drpvalue").val();
        @*$.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("Exceldata","Employee")',
            data: {'data':data},
        });*@

        if (data == 0 || data == null) {
            $.alert({
                title: 'DMS',
                content: 'Select master to download.!',
                type: 'blue',
            });
            return false;
        }
        location = '@Url.Action("Exceldata","Employee")?data=' + data;
    }

</script>