@model DMS.Model.ViewDocuments_Model

<style>
    .ui-dialog-titlebar-close {
        display: none;
    }

    .panel {
        margin-bottom: 5px;
    }

</style>
<div class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body" style="margin-top: -26px;">
                <div class="row">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Bulk Mail</h4>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" id="btnclose" style="color:black;font-weight:bold;float:right" onclick="return Close_Foroutlooklink();">X</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" id="docname">
                        <label style="font-weight:normal;font-size:13px;font-family:sans-serif">To</label>
                        @Html.TextBoxFor(m => m.MailTo, new { @class = "form-control", style = "height:25px;width:400px;font-weight: normal;font-size:13px;font-family:sans-serif", @placeholder = "Email Id" })
                    </div>
                    <div class="col-sm-12">
                        <label style="font-weight:normal;font-size:13px;font-family:sans-serif">Cc</label>
                        @Html.TextBoxFor(m => m.MailCc, new { @class = "form-control", style = "height:25px;width:400px;font-weight: normal;font-size:13px;font-family:sans-serif", @placeholder = "Email Id" })
                    </div>
                    <div class="col-sm-12">
                        <label style="font-weight:normal;font-size:13px;font-family:sans-serif">Subject</label>
                        @Html.TextBoxFor(m => m.MailSubject, new { @class = "form-control", style = "height:25px;width:400px;font-weight: normal;font-size:13px;font-family:sans-serif", @placeholder = "Subject" })
                        <span class="errormessage" id="erridmsg"></span>
                    </div>
                    <div class="col-sm-12">
                        <label style="font-weight:normal;font-size:13px;font-family:sans-serif">Attached File</label>
                        @Html.TextBoxFor(m => m.MailAttachement, new { @class = "form-control", style = "height:30px;width:330px;font-weight: normal;font-size:13px;font-family:sans-serif", @readonly = "true" })
                        &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-orange fa" id="btn_dwldfile" onclick="return downloadfile()">View</button>
                    </div>
                    <div class="col-sm-12">
                        @Html.TextArea("MailContent", null, new { @class = "form-control", style = "height:275px;width:515px;font-weight: normal;font-size:13px;font-family:sans-serif", @placeholder = "Body of the Content" })
                    </div>
                    <div class="col-sm-12">
                        <input type="button" value="Close" id="btn_cancel" onclick="return Close_Foroutlooklink();" class="btn btn-orange fa fa-download" />
                        <input type="button" name="btnsubmit" value="Send" id="btn_sendmail" class="btn btn-orange fa fa-download" onclick="return SendMail();" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {
            debugger;
            var mailtype = $("#hdn_mailtype").val();
            if (mailtype == "single") {
                var Indexed_gid = $("#hdn_attachid").val();
                var type = $("#hdn_linkorinterfile").val();
                $.ajax({
                    url: '@Url.Action("Getgetfromidandattachfile", "ViewDocuments")',
                    type: "POST",
                    datatype: "json",
                    async: false,
                    data: { 'Indexed_gid': Indexed_gid, 'type': type },
                    success: function (data) {
                        debugger;
                        $("#MailFrom").val(data.Frommailaddress);
                        $("#MailAttachement").val(data.Attachementfile);
                        $("#hdn_filelocation").val(data.attachementlocation);
                    },
                    error: function () {
                        alert("failed to create.")
                        return false;
                    }
                });
            }
            else {
                var grid = $("#grid").data("kendoGrid");
                var checkedrows = $("#attributecheckbox:checked", grid.tbody).closest("tr");
                if (checkedrows.length == 0) {
                    $.alert({
                        title: 'DMS',
                        content: 'Select atleast one record in MainGrid to Send Mail.!',
                        type: 'blue',
                    });
                    return false;
                }
                var Attribid = [];
                var Attribid1;
                for (var i = 0; i < checkedrows.length; i++) {
                    var item = grid.dataItem(checkedrows[i]);
                    var GridID = item.entries[4];
                    Attribid.push(GridID);
                }
                Attribid1 = Attribid.join(",");

                $.ajax({
                    url: '@Url.Action("getmultiplemaildetails", "ViewDocuments")',
                    type: "POST",
                    datatype: "json",
                    async: false,
                    data: { 'attributegids': Attribid1 },
                    success: function (result) {
                        debugger;
                        var data = JSON.parse(result.Data1);
                        var data1 = JSON.parse(result.Data2);
                        $("#MailFrom").val(data[0].Emp_EmailId);

                        var files = [];
                        //var attachements = [];
                        var filename;
                        //var filepath;
                        for (i = 0; i < data1.length; i++) {
                            var file1 = data1[i].Attrib_File_Name;
                            files.push(file1);
                            //var filepath1 = data1[i].Attrib_FilePath;
                            //attachements.push(filepath1);
                        }
                        filename = files.join(",");
                        //filepath = attachements.join(",");
                        $("#MailAttachement").val(filename);
                        //$("#hdn_filelocation").val(filepath);
                    },
                    error: function () {
                        alert("failed to create.")
                        return false;
                    }
                });

                return false;
            }
        });

        function Close_Formailbulk() {
            debugger;
            objDialog.dialog("close");
        }

        function downloadfile() {
            debugger;

            @*$.ajax({
            url: '@Url.Action("Download", "ViewDocuments")',
            type: "POST",
            contentType: false,
            processData: false,
            data: fileData,
        }).done(function (data) {
            //get the file name for download
            if (data.attacheid != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "ViewDocuments", Action = "DownloadFile" })/?attacheid=" + data.attacheid;
            }
        });*@

            var downloadpath = $("#hdn_filelocation").val();
            $.ajax({
                url: '@Url.Action("Downloadmailfile", "ViewDocuments")',
                type: "POST",
                datatype: "json",
                async: false,
                data: { 'downloadpath': downloadpath },
            }).done(function (data) {
                debugger;
                //get the file name for download
                if (data.downloadpath != "") {
                    //use window.location.href for redirect to download action for download the file
                    window.location.href = "@Url.RouteUrl(new { Controller = "ViewDocuments", Action = "DownloadMailFile1" })/?downloadpath=" + data.downloadpath;
                }
            });


        }
        function SendMail() {
            debugger;
            // var mailfrom = $("#MailFrom").val();
            var mailto = $("#MailTo").val();
            var mailcc = $("#MailCc").val();
            if (mailto == "") {
                $.alert({
                    title: 'DMS',
                    content: 'Enter email address..!!',
                    icon: 'fa fa-success',
                    type: 'green',
                });
                return false;
            }
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (!emailReg.test(mailto)) {
                $.alert({
                    title: 'DMS',
                    content: 'Enter valid email address..!!',
                    icon: 'fa fa-success',
                    type: 'red',
                });
                return false;
            }
            var subject = $("#MailSubject").val();
            var content = $("#MailContent").val();
            var filelocation = $("#hdn_filelocation").val();
            var mailtype = $("#hdn_mailtype").val();
            $.ajax({
                url: '@Url.Action("SendMail", "ViewDocuments")',
                type: "POST",
                datatype: "json",
                async: false,
                data: { 'mailto': mailto, 'subject': subject, 'content': content, 'filelocation': filelocation, 'mailcc': mailcc, 'mailtype': mailtype },
                success: function (data) {
                    debugger;
                    if (data == "success") {
                        $.alert({
                            title: 'DMS',
                            content: 'Mail sent successfully!',
                            icon: 'fa fa-success',
                            type: 'blue',
                        });
                        setTimeout(function () {
                            //window.location.reload(1);
                            objDialog.dialog("close");
                        }, 2500);
                    }
                    else {
                        $.alert({
                            title: 'DMS',
                            content: 'Mail could not be sent!!',
                            icon: 'fa fa-success',
                            type: 'orange',
                        });
                    }
                },
            });
        }
    </script>
