@using Kendo.Mvc.UI;
@model DMS.Model.ViewDocuments_Model

@{
    int i = 0;
    bool newrow = true;
    int colcnt = 0;
}

<table>

    @foreach (var category in Model.dept)
    {
        if (colcnt == 3 || colcnt == 0)
        {
            newrow = true;
            colcnt = 0;
            @Html.Raw("<tr style='height:30px;'>")
        }
        else
        {
            newrow = false;
        }
        if (newrow == true)
        {
            <td width="15px">@Html.Hidden("Attribtype" + i, @category.attrbtype)</td>
            <td width="15px">@Html.Hidden("Attribname" + i, @category.attrbname)</td>
            <td>
                <label style="font-weight:normal;width:100px;">@category.attrbname </label>
            </td>
            <td width="30px"></td>
            if (category.attrbtype == "Datetime")
            {
                <td>
                    @Html.Editor("ctl" + i, null, new { htmlAttributes = new { @class = "form-control", style = "height:25px;width:150px;" }, })
                </td>
            }
            if (category.attrbtype == "Alpha Numeric")
            {
                <td style="width:120px">
                    @Html.TextBox("ctl" + i, null, new { @class = "form-control", style = "height:25px;width:250px;" })
                </td>
            }
            if (category.attrbtype == "Numeric")
            {
                <td style="width:120px">
                    @Html.TextBox("ctl" + i, null, new { @class = "form-control", style = "height:25px;width:100px;", onkeypress = "return NumersOnly(event)" })
                </td>
            }
            if (category.attrbtype == "Amount")
            {
                <td style="width:120px">
                    @Html.TextBox("ctl" + i, null, new { @class = "form-control", style = "height:25px;width:100px;", onkeypress = "return isNumberKey(event)" })
                </td>
            }
            if (category.attrbtype == "Logical")
            {
                <td style="width:120px">
                    @Html.RadioButton("ctl" + i, "Yes") Yes &nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButton("ctl" + i, "No") No
                </td>

            } 
             if (category.attrbtype == "Lov Name")
            {
                <td>
                    @*@Html.DropDownList("ctl" + i, (IEnumerable<SelectListItem>)ViewBag.Lovexl_Name, "-Select-", new {  style = "height:25px;width:150px;font-weight: normal;" })*@
                    @Html.DropDownList("ctl" + i, category.LovName, null, new { @class = "orm-control", style = "height:25px;width:225px;font-weight: normal;" })
                </td>
            }
        }
        else
        {
            <td width="15px">@Html.Hidden("Attribtype" + i, @category.attrbtype)</td>
            <td width="15px">@Html.Hidden("Attribname" + i, @category.attrbname)</td>
            <td>
                <label style="font-weight:normal;width:100px;">@category.attrbname </label>
            </td>
            <td width="30px"></td>

            if (category.attrbtype == "Datetime")
            {
                <td>

                    @Html.Editor("ctl" + i, null, new { htmlAttributes = new { @class = "form-control", style = "height:25px;width:150px;" } })
                </td>
            }
            if (category.attrbtype == "Alpha Numeric")
            {
                <td style="width:120px">
                    @Html.TextBox("ctl" + i, null, new { @class = "form-control", style = "height:25px;width:250px;" })
                </td>
            }
            if (category.attrbtype == "Numeric")
            {
                <td style="width:120px">
                    @Html.TextBox("ctl" + i, null, new { @class = "form-control", style = "height:25px;width:100px;", onkeypress = "return NumersOnly(event)" })
                </td>
            }
            if (category.attrbtype == "Amount")
            {
                <td style="width:120px">
                    @Html.TextBox("ctl" + i, null, new { @class = "form-control", style = "height:25px;width:100px;", onkeypress = "return isNumberKey(event)" })
                </td>
            }
            if (category.attrbtype == "Logical")
            {
                <td style="width:120px">
                    @Html.RadioButton("ctl" + i, "Yes") Yes &nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButton("ctl" + i, "No") No
                </td>

            }
            if (category.attrbtype == "Lov Name")
            {
                <td>
                    @*@Html.DropDownList("ctl" + i, (IEnumerable<SelectListItem>)ViewBag.Lovexl_Name, "-Select-", new { style = "height:25px;width:150px;font-weight: normal;" })*@
                    @Html.DropDownList("ctl" + i, category.LovName,null, new { @class = "orm-control", style = "height:25px;width:225px;font-weight: normal;" })
                </td>
            }
        }
        if (colcnt == 2)
        {
            @Html.Raw("</tr>")
        }
        i++;
        colcnt++;
    }

</table>
<input type="hidden" id="ctlcount" value="@i" />

<script type="text/javascript">
    var count = $('#ctlcount').val();  
    var concatval;
    for (var i = 0; i < count; i++) {
        var Attributetypes = $('#Attribtype' + i).val();
       
        if (Attributetypes == "Datetime") {
            debugger;
            $('#ctl' + i).datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true
            })
            //$('#ctl' + i).datepicker('setDate', 'today')
        }
        // var gettxtdesval = $('#ctl' + i).val();
    }
</script>
